form ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
form li{
    padding: 5px;
    color: white;
}
form label{
    display: block;
    font-family: fantasy;
}
#textual{
    color: white;
    background-color: rgba(0,0,0,0.6);
}
form textarea{
    width: 400px;
    height: 200px;
    color: white;
    background-color: rgba(0,0,0,0.6);
}